<section class="vh-100 p-5" style="background-color: #eee;">
  <div class="container h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Ingresar</p>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-primary btn-md m-3" (click)="selectUser(1)">😎</button>
                      <button class="btn btn-secondary btn-md m-3" (click)="selectUser(2)">🤩</button>
                      <button class="btn btn-success btn-md m-3" (click)="selectUser(3)">😜</button>
                    </div>
                  </div>
                  <hr>
                </div>

                <form class="mx-1 mx-md-4" #loginForm="ngForm" (ngSubmit)="Loggin(loginForm)">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input 
                      type="email" 
                      name="email" 
                      class="form-control"
                      #email="ngModel"
                      [(ngModel)]="usuario.email"
                      [ngClass]="{'is-invalid': email.errors && email.touched}"
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      required>
                      <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
                        Email requerido
                      </div> 
                      <div [hidden]="!email.errors?.['pattern']" class="invalid-feedback">
                        Email no es válido
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input 
                        type="password" 
                        name="password" 
                        class="form-control"
                        #password="ngModel"
                        [(ngModel)]="usuario.password"
                        [ngClass]="{'is-invalid': password.errors && password.touched}"
                        required
                        minlength="2">
                        <div [hidden]="!password.errors?.['password']" class="invalid-feedback">
                          Password requerida
                        </div> 
                        <div [hidden]="!password.errors?.['minlength']" class="invalid-feedback">
                          Debe contener al menos 2 caracteres
                        </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="/assets/images/login.png" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>