<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="/assets/images/Logo.png" alt="Logo de la pagina" height="60">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
          <li>
            <a routerLink="" class="nav-link text-white">
                <i class="fa-solid fa-house"></i>
                <strong> Inicio</strong>        
            </a>
          </li>
          <li>
            <a routerLink="/ahorcado" class="nav-link text-white">
              <i class="fa-solid fa-gamepad"></i>
              <strong> Juegos</strong>     
            </a>
          </li>
          <li>
            <a routerLink="/chat" class="nav-link text-white">
              <i class="fa-brands fa-rocketchat"></i>
              <strong> Chat</strong>     
            </a>
          </li>
          <li>
            <a routerLink="/about" class="nav-link text-white">
              <i class="fa-solid fa-address-card"></i>
              <strong> About</strong>     
            </a>
          </li>
          <li>
            <a routerLink="/register" class="nav-link text-white">
              <i class="fa-solid fa-address-card"></i>
              <strong> Register</strong>     
            </a>
          </li>
          <li>
            <a routerLink="/login" class="nav-link text-white">
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
              <strong> Login</strong>     
            </a>
          </li>
          <li>
            <a routerLink="/404" class="nav-link text-white">
              <i class="fa-solid fa-circle-xmark"></i>
              <strong> Salir</strong>     
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
