<div class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-md-4 mb-0"><strong class="h6">&copy; 2023 Leandro Cabeza</strong></p>
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="/assets/images/Logo.png" alt="Logo de la pagina" height="60">
        </a>
        </footer>
    </div>
</div>