<div class="masthead" style="background-image: url('/assets/images/main_background1.jpg');"></div>

<div *ngIf="logged == true" class="bg-black">
    <div class="container marketing pt-5 pb-5">
        <div class="row">
        <div class="col-lg-4 text-white">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/images/ahorcado_neon.jpg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
            <h2>Ahorcado</h2>
            <p>El juego consiste en decir diferentes letras hasta adivinar la palabra o frase propuesta antes que se dibuje el ahorcado completo.</p>
            <p><a class="btn btn-primary" routerLink="/ahorcado">Jugar</a></p>
        </div>
        <div class="col-lg-4 text-white" >
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/images/mayormenor.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2>Mayor menor</h2>
            <p>Juego educativo que compara dos conjuntos de objetos, y hay que determinar cuál es mayor o menor</p>
            <p><a class="btn btn-primary" routerLink="/mayormenor">Jugar</a></p>
        </div>
        <div class="col-lg-4 text-white">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/images/preguntados.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2>Preguntados</h2>
            <p>Preguntados es un juego de preguntas y respuestas de seis categorías diferentes: geografía, historia, arte, ciencia, entretenimiento, deportes</p>
            <p><a class="btn btn-primary" routerLink="/preguntados">Jugar</a></p>
        </div>
        <div class="col-lg-4 text-white">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/images/preguntados.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2>CronoBomb!</h2>
            <p>juego de la bomba de tiempo consiste en desactivar una bomba antes de que explote. La bomba tiene un temporizador que muestra el tiempo restante antes de la explosión. El jugador debe presionar el botón "Desactivar" para detener el temporizador y desactivar la bomba. Si el jugador no desactiva la bomba antes de que el tiempo se agote, la bomba explotará y el juego terminará. El objetivo es acumular la mayor cantidad de desactivaciones exitosas antes de que la bomba explote. El juego también muestra un contador que registra la cantidad de desactivaciones exitosas realizadas por el jugador.</p>
            <p><a class="btn btn-primary" routerLink="/bomb">Jugar</a></p>
        </div>
        </div>
    </div>
</div>
